body{
    margin: 0px;

}
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
#name{
    font-size: 40px;
    display: inline;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000536;
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    transition: 2s;
}
#navbar{
    
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav{
    letter-spacing: -1px;
    margin: 10px;
    color: #000536;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    font-weight: 680;
    text-align: center;
    padding-top:14px ;
    padding-bottom: 10px;
    font-family: 'Plus Jakarta Sans';
    transition: 1.2s;
    text-decoration: none;

}

.nav:hover{
    cursor: pointer;
    margin: 10px;
    background-color: #000536;
    width: 100px;
    height: 25px;
    color: antiquewhite;
    border-radius: 25px;
    font-weight: 500;
    text-align: center;
    padding-top:14px ;
    padding-bottom: 10px;
    font-family: 'Plus Jakarta Sans';
}

#founder1{
    width: 100%;
    max-width:auto;
    margin: 0px;
}
#founder1_aside{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#founder1_aside_2{
    display: flex;
    justify-content: center;
    align-items: center;

}
#founder1_aside_h1{
    font-size: 25px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    color: #000536;
    line-height: 1.1;
 

}

#founder1_aside_p{
    font-family: 'Plus Jakarta Sans';
    font-size: 15px;

}
#founder2{
    width: 100%;

}
#founder2_photo{
    width: 100%;
}
#centerdiv_2{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}
#main_aside_founder2{
    order: 3;
}
#founder2_aside_h1{
    font-size: 25px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    color: #000536;
    line-height: 1.1;

}
#founder2_aside_p{
    font-family: 'Plus Jakarta Sans';
    font-size: 15px;

}






@media only screen and (min-width: 450px) {

    

    #logo:hover{
        width: 200px;
        height: 200px;
        border-radius: 100px;
        cursor: pointer;
    }
    #founder{
        width: 100%;
    }
    #founder1_aside_2{
        display: flex;
        justify-content: flex-start;
    }
    #founder1_aside_h1{
        font-size: 40px;

    }

    #main_aside_founder1{
        display: flex;
        flex-direction: column;

    }
    #centerdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 700px;
    }
    #founder1_photo{
        /* width: 409px; */
        height: 460.13px;
        /* max-height: 460.13px; */
        width: 50%;
        max-width: 500px;
        max-height: 600px;
    }
    #founder1_aside_p {
        font-family: 'Plus Jakarta Sans';
        font-size: 20px;
    }
    #centerdiv_2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    #founder2{
        width: 50%;
        order: 2;
    }
    #founder2_photo{
        max-width: 500px;
        max-height: 600px;
    }
    #founder2_aside{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    #founder2_aside_2{
        display:flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    #main_aside_founder2{
        width: 50%;
        order: 1;
    }
    #founder2_aside_h1 {
        font-size: 40px;
    }
    #founder2_aside_p{
        font-family: 'Plus Jakarta Sans';
        font-size: 20px;
    }
    
}

